<div class="card card-custom gutter-b">
    <div class="card-header">
      <div class="card-title">
        <h3 class="card-label">Agent Manager</h3>
      </div>
      <div class="card-toolbar">
        <button type="button" class="btn btn-primary" (click)="createAgentManager()">ADD AGENT</button>
      </div>
    </div>
    <div class="card-body">
        <!-- begin: Filtration form -->
        <div class="form form-label-right">
            <div class="form-group row">
                <div class="col-lg-2" [formGroup]="searchGroup">
                    <input type="text" class="form-control" name="searchText" placeholder="Search" formControlName="searchTerm" />
                    <small class="form-text text-muted"><b>Search</b> in all fields</small>
                  </div>
            </div>
        </div>
        <!-- end: Filtration form -->
        <!-- begin:Table -->
        <div class="table-responsive angular-bootstrap-table">
            <table class="table table-head-custom table-vertical-center overflow-hidden">
                <thead>
                    <th>
                        APPLICATION NAME
                        <app-sort-icon column='agentName' [activeColumn]="sorting.column" [activeDirection]="sorting.direction" (sort)="sort($event)"></app-sort-icon>
                    </th>
                    <th>
                        URL ENTRY POINT
                        <app-sort-icon column='urlEntryPoint' [activeColumn]="sorting.column" [activeDirection]="sorting.direction" (sort)="sort($event)"></app-sort-icon>
                    </th>
                    <th>
                        CRON EXPRESSION
                        <app-sort-icon column='cronExpression' [activeColumn]="sorting.column" [activeDirection]="sorting.direction" (sort)="sort($event)"></app-sort-icon>
                    </th>
                    <th>
                        AGENT PARAM
                        <app-sort-icon column='agentParam' [activeColumn]="sorting.column" [activeDirection]="sorting.direction" (sort)="sort($event)"></app-sort-icon>
                    </th>
                    <th>ACTIONS</th>
                </thead>
                <tbody>
                <tr *ngFor="let agent of agentServices.items$ | async">                    
                    <td>{{ agent.agentName }}</td>
                    <td>{{ agent.urlEntryPoint }}</td>
                    <td>{{ agent.cronExpression }}</td>
                    <td>{{ agent.agentParam }}</td>
                    <td>
                        <!-- edit -->
                        <a title="Edit customer" class="btn btn-icon btn-light btn-hover-primary btn-sm mx-3">
                            <span [inlineSVG]="'./assets/media/svg/icons/Communication/Write.svg'" cacheSVG="true"
                            class="svg-icon svg-icon-md svg-icon-primary" [routerLink]="'/create-agent-manager/edit/' + agent.id">
                            </span>
                        </a>
                        <!-- delete -->
                        <a title="Delete customer" class="btn btn-icon btn-light btn-hover-danger btn-sm">
                            <span [inlineSVG]="'./assets/media/svg/icons/General/Trash.svg'" cacheSVG="true"
                            class="svg-icon svg-icon-md svg-icon-danger" (click)="delete(agent.id)">
                            </span>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- end: Table -->
        <app-paginator class="d-flex justify-content-between align-items-center flex-wrap" [paginator]="paginator" [isLoading]="isLoading" (paginate)="paginate($event)"></app-paginator>
    </div>
</div>